@model IEnumerable<MyClinic.WEB.Models.ScheduleViewModel>
@{ 
    Layout = null;
}

<!--Get Schedule-->

<table id="schedule">
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Date.Date.ToShortDateString()</td>
            <td>@foreach (var time in item.Times) { @time.ToShortTimeString() }</td>
        </tr>
    }

</table>