@model IEnumerable<MyClinic.WEB.Models.DoctorViewModel>

@{
    
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="~/Content/SchedulePage.css" rel="stylesheet" />
</head>
<h2>Sign index</h2>

@foreach(var doc in Model)
{    
    <button class="docbutton" docid="@doc.Id">@doc.FirstName  @doc.LastName</button>
}



<script>
    $('body').on('click', '.docbutton', function () {
        var doctorid = $(this).attr('docid');

        $.ajax({
            url: "/Sign/GetSchedule",
            type: "POST",
            data: {docid: doctorid},
            datatype: 'html',
            
            success: function (result) {
                $('#schedule').remove();
                $('body').append(result);
            }
        })
    })


    $('body').on('click', '.image-container', function (event) {
        var date = $(this).attr('date');
        var elements = document.getElementsByClassName('TimeRow');

        $('.TimeRow').css('display', 'none');
        
        for (var i = 0; i < elements.length; i++) {
            if (elements.item(i).getAttribute('date') == date) {                
                elements.item(i).style.display = "table-cell";
            }
            
        }
        
        
        
    });
</script>